<div class="container-fluid">
  <div class="row">
    <h1>Minecraft Servers</h1>
  </div>
  <div class="row">
    <div class="col-lg">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Running</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let server of servers"
              (click)="goToServer(server.id)">
            <td>{{server.name}}</td>
            <td>{{server.isRunning}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <div class="card card-body">
        <form>
          <div class="row">
            <div class="col">
              <input #newServerName type="text" class="form-control" placeholder="Server Name" required />
            </div>
          </div>
          <button mat-flat-button color="primary" (click)="newServer(newServerName.value)">New Server</button>
        </form>
      </div>
    </div>
  </div>
</div>
