<p *ngIf="!currentServer; else mainContent"><em>Loading...</em></p>

<ng-template #mainContent>
  <div class="container-fluid">
    <div class="row">
      <h1 style="margin-left:20px">{{currentServer.name}}</h1>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="card card-body">
          <div class="server-output" id="output-list">
            <samp *ngFor="let line of outputLines">{{line}}<br></samp>
          </div>
        </div>
        <input class="form-control" id="console-input" type="text" placeholder="Console Input" />
        <div class="row justify-content-between">
          <div class="col-auto mr-auto">
            <button mat-flat-button color="primary" (click)="sendConsoleInput()" type="submit">Send Input</button>
          </div>
          <div class="col-auto">
            <div *ngIf="isRunning; else notRunning">
              <button mat-flat-button color="warn" (click)="stopServer()">Stop Server</button>
            </div>
            <ng-template #notRunning>
              <button mat-flat-button color="primary" (click)="startServer()">Start Server</button>
              <button mat-flat-button color="warn" (click)="removeServer()">Remove Server</button>
            </ng-template>
          </div>
        </div>
        <div class="row">
          <div class="col-auto mr-auto">
            <label for="maxRam">Max Ram: {{maxRam}}MB</label>
            <mat-slider class="ram-slider" max="8192" min="512" step="512" thumbLabel=true [disabled]="isRunning" [(ngModel)]="maxRam" id="maxRam"></mat-slider>
          </div>
          <div class="col-auto">
            <label for="minRam">Min Ram: {{minRam}}MB</label>
            <mat-slider class="ram-slider" max="8192" min="512" step="512" thumbLabel=true [disabled]="isRunning" [(ngModel)]="minRam" id="minRam"></mat-slider>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <mat-tab-group>
          <mat-tab label="Analytics"><server-analytics [server]="currentServer" [cpuPointsString] ="cpuPointsString" [ramPointsString] ="ramPointsString" [upTimeThisSession]="upTimeThisSession" [totalUpTime]="totalUpTime"></server-analytics></mat-tab>
          <mat-tab label="Joined Users"><server-users [id]="serverId" [(joinedUsers)]="joinedUsers" [(users)]="users"></server-users></mat-tab>
          <mat-tab label="Server Properties"><server-properties [id]="serverId"></server-properties></mat-tab>
          <mat-tab label="Version Selector"></mat-tab>
          <mat-tab label="Mods"></mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</ng-template>
