@page "/new-server"

<div class="row">
	<div class="col-md-6">
		<form id="newServerForm">
			<ul id="progressBar">
				<li class="active">Name and Type</li>
			</ul>
		</form>
	</div>
</div>

@functions {

}