.status-chart {
  border-style: solid;
  border-width: thin;
  height: 202px;
  width: 415px;
}

.cpu {
  background-color: aliceblue;
  border-color: cornflowerblue;
}

.ram {
  background-color: whitesmoke;
  border-color: mediumorchid;
}
